
/*---------------Reset-----------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@import url('https://fonts.googleapis.com/css?family=Arimo:700|Oxygen');

body{
    display: flex;
    font-family: 'Arimo', sans-serif;
    font-size: 1.1em;
    background-color: whitesmoke;
}
form{
    width:500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px #000;
}
h1,a{
    margin:auto;
    text-align: center;
    display: block;
    width:100%;
    margin: auto;
    text-decoration: none;
}
h1{
    box-sizing: border-box;
    background-color: #1bceaf;
    color: white;
    font-size: 1.3em;
    margin-bottom: 50px;
    padding: 30px;
}
a{
    margin-top:30px;
    margin-bottom:50px;
    color: #000;
}
input{
    text-align: center;
    display: block;
    width:300px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 1.0em;
    font-family: 'Arimo', sans-serif;
    padding: 5px;
    background-color: #fff;
}
span{
    margin:auto;
    text-align: center;
    display: block;
    width:100%;
    color:red;
}
input[type=submit]{
    padding:10px;
    background-color: #666;
    color: #fff;
}