
/*---------------Reset-----------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------Main Page----------------------*/
@import url('https://fonts.googleapis.com/css?family=Arimo:700|Oxygen');
html{
    width:100%;
}
#header{
    position: fixed;
    width: 100%;
    z-index: 2;
    top:0px;
}
body{
    background-color: white;
    width: 100%;    
    font-family: 'Arimo', sans-serif;
}
#menu{  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1bceaf;
    border-bottom: 3px solid #666;
}

#menu li a{
    text-align: center;
    height: 100%;
    color: #fff;
    display: block;
    font-size: 1.1em;
    padding: 16px 30px;
}
#menu li a:hover{
    background-color:  #666;
    color: white;
}
#username, #logout{
    float: left;
}
#cart, #search{
    float:right;
}
#cart-indicator{
    background-color: #fff;
    border-radius: 100px;
    font-size: 0.9em;   
    padding: 5px 9px;
    color:#666;
}
#cart-indicator:hover{
    color: #1bceaf;
}

#numberOfItems{
	display:inline;
}

/*---------------------Content----------------------*/
#content{
    position: relative;
    top: 50px;
    bottom: 50px;
}
.fixed-header {
    position: sticky;
    top: 50px;  
    text-align: center;
    margin: 50px auto 0px ;
    z-index: 1;
    padding: 15px;
    color: black;
    background-color: white;
    border-bottom: 1px solid #aaa;
    font-size: 1.5em;
}
.products{
    text-align: center;
    background-color:  whitesmoke;
    padding-top:20px;
    user-select: none;
}
.products li{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid #aaa;
}

.products li img{
    width: 150px;
    height: 150px;
}
.products li .name{
    display: block;
    padding: 5px;
}
.products li:hover{
    cursor: pointer;
    background-color: #1bceaf;
}

/*---------------------Info window----------------------*/
#info-window{
    z-index: 9998;
    display: none;
    width: 0;
    height: 200px;
    position: absolute;
    background-color: #666;
    border-bottom: 2px solid whitesmoke;
    border-left: 10px solid #1bceaf;
    padding: 10px;
}
#info-window .name{
    position: absolute;
    top: 50%;
    left:160px;
    transform: translateY(-50%);
    color: white;
    margin-left: 2%;
    font-size: 1.2em;
}
#info-window .price{
    position: absolute;
    color: white;
    font-size: 1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#info-window img{
    position: absolute;
    user-select: none;
    width: 150px;
    height: 150px;
    top: 50%;
    transform: translateY(-50%);
}
#toCartContainer{
    display: none;
}
#toCartBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1bceaf;
    padding: 15px 10px;
    right: 5%;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    user-select: none;
}
.price{
    display: none;

}


/*---------------------Cart Popup----------------------*/
#cart-popup-container{
    display:none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    background: rgba(200, 200, 200, 0.9);
    z-index: 4;
    height: 100%;
    width: 100%;
}

#cart{
    cursor: pointer;
}

#cart-popup{
    display: none;
    z-index: 5;
    background:white;
    position: absolute;
    width: 80%;
    min-height:300px;
    max-height: 85%;
    border-radius: 10px 10px 0px 0px;

    left: 50%;

    margin: 100px -40%;
}
#cart-popup h1{
    position: absolute;
    z-index: 15;
    width: 100%;
    display: block;
    margin: 0px auto;
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    background-color:#666;
    border-radius: 10px 10px  0px 0px;
    color: white;
    border-bottom: 1px solid black;
}
#close-cart{
    position: absolute;
    width:30px;
    border-radius: 0px 10px 0px 10px;
    right:0px;
    top:0px;
}
#close-cart:hover{
    box-shadow: -1px 0px 4px 0px #999;
    cursor: pointer;
}
#cart-popup input{
    font-size: 1.5em;
    display: block;
    border-radius: 0px 0px  10px 10px;
    margin: 0px auto;
    z-index: 11;
    border-top:1px solid #666;
    border-bottom:1px solid whitesmoke;
    border-left:1px solid whitesmoke;
    border-right:1px solid whitesmoke;
    width: 100%;
    padding: 10px;
    color: #666;
    position: absolute;
    background-color: whitesmoke;
}
#cart-popup input:hover{
    background-color: #1bceaf;
    cursor: pointer;
    color: white;
    border: 1px solid #1bceaf;
}
#cart-container{
    margin-top:70px;
    text-align: center;
}
#cart-container li{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height:100px;
    background-color: white;
    text-align: left;
    border-bottom: 2px solid whitesmoke;
    padding: 10px;
}
#cart-container .name{
    position: absolute;
    top: 50%;
    left:160px;
    transform: translateY(-50%);
    margin-left: 2%;
    font-size: 1.2em;
    
}
#cart-container .price{
    position: absolute;
    font-size: 1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cart-container img{
    position: absolute;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
}
#cart-container span:first-child{
    margin-top:50px;
}
.delete-from-cart{
    position: absolute;
    right: 10px;
    transform: translateX(-10px);
    top: 50%;
    transform: translateY(-50%);
    background-image: url("https://image.flaticon.com/icons/svg/179/179373.svg");
    user-select: none;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: white;
}
.delete-from-cart:hover{
    box-shadow: 0px 0px 7px 0px grey;
}
#cart-container li:nth-child(even) {
    background-color: whitesmoke;
}
#cart-popup span:first-child{
    display: inline-block;
    font-size: 1.5em;
}
#discount-descr, #discount, #sum-descr, #sum, #final-sum-descr, #final-sum {
    font-size: 1.3em;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
}


/*---------------------Search Popup----------------------*/
#search{
    cursor: pointer;
}
#search-popup-container{
    display:none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    background: rgba(200, 200, 200, 0.9);
    z-index: 4;
    height: 100%;
    width: 100%;
}
#search-popup{
    display: none;
    z-index: 5;
    background:white;
    position: absolute;
    width: 80%;
    min-height:300px;
    max-height: 85%;
    border-radius: 10px 10px 0px 0px;
    left: 50%;
    margin: 100px -40%;
}
#search-popup h1{
    font-size: 2em;
    text-align: center;
    display: block;
    background-color:#666;
    color: white;
    padding: 30px;
    border-bottom: 1px solid black;
}
#close-search{
    position: absolute;
    width:30px;
    border-radius: 0px 0px 0px 10px;
    right:0px;
    top:0px;
}
#close-search:hover{
    box-shadow: -1px 0px 4px 0px #999;
    cursor: pointer;
}
#search-popup input{
    font-size: 1.5em;
    display: block;
    border-radius: 10px;
    margin: 25px auto;
    border:1px solid silver;
}
#search-popup input[type=text]{
    width: 45%;
}
#search-popup input[type=submit]{
    width:25%;
    padding: 10px;
    color: white;
    background-color: #666;
}
#search-results{
    background-color: white;
    margin: 30px;
}
#search-results li{
    height: 160;
    width: 120;
    margin: 5px;
    padding:1px;
}
#search-results li img{
    height: 120;
    width: 120;
}
#search-results li:hover{
    cursor: not-allowed;
    background-color: white;
}
#search-results li a{
    font-size: 0.9em;
    padding: 1px;
}


/*---------------------Footer----------------------*/
#footer{
    width:100%;
    height:40px;
    background-color: #666;
    bottom: 0;
    position:relative;
    border-top: 3px solid #1bceaf;
    margin-top: 50px;
    line-height: 40px;
    white-space: nowrap;
}
#epam,#initials{
    color: #fff;
    margin: 0px 30px;
    font-size: 0.8em;   
}
#epam{
    float: right;
}
#initials{
    float: left;
    text-decoration: underline;
}



/*---------------------Media----------------------*/
@media (max-width: 555px) {
    #cart, #search, #username, #logout{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #content{
        margin-top:200px;
        position: static;
    }
    .fixed-header{
        top:195px;
    }
    #info-window .name{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-30%);
        color: white;
        font-size: 1.2em;
    }
    #info-window .price{
        position: absolute;
        color: white;
        font-size: 1.2em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
